# Python Puzzles

In [1]:
# Keywords

In [2]:
False == (1 > 2)

True

In [3]:
True == (2 >1)

True

In [4]:
x, y = True, False

In [5]:
(x or y ) == True

True

In [6]:
(x and y) == False

True

In [11]:
(not y) == True

True

In [12]:
while (True):
    print('Inside Loop')
    break
print('Hello World')

Inside Loop
Hello World

while (True):
    continue
    print('43')
#dead code

In [19]:
x = int(input ('Your value pl :'))
if (x >3): 
    print("x is > 3")
else :
    print("x is <= 3")

Your value pl : 4

x is > 3

In [23]:
x  = int(input ('X value'))
if (x > 3) :
    print('x > 3')
elif x == 3: 
    print('x == 3')
else :
    print('x > 3')

X value 5

x > 3

In [24]:
j = 0
while (j < 3):
    print(j)
    j = j + 1

0
1
2

In [25]:
42 in [4,5, 6, 42]

True

In [26]:
y = x = 3
x is y

True

In [30]:
def f():
    x = 2
f() is None

True

In [33]:
# lambda
(lambda x : x + 3 )(10)

13

In [34]:
def incrementor(x):
    return x + 1
incrementor(10)

11

In [ ]:
# Data Types

In [35]:
x, y = True, False
print(x and not y)  # True and True -> True

True

In [36]:
print(not x and y or x) # False and False or True

True

## Functions
-  map(func, iter)

In [38]:
(lambda x: x[0], ['red', 'green','blue'])

(<function __main__.<lambda>(x)>, ['red', 'green', 'blue'])

In [39]:
map(lambda x: x[0], ['red', 'green','blue'])

In [41]:
list(map(lambda x: x[0], ['red', 'green','blue']))
#execute func on all elements of the iterable

['r', 'g', 'b']

In [43]:
#map(func, i1, ..., ik)
#Executes the function on all k elements of the k iterables. Example:
list(map( lambda x, y: str(x) + ' ' + y + 's' , [ 0 , 2 , 2 ],[ 'apple' , 'orange' , 'banana' ]))
# Result: ['0 apples', '2 oranges', '2 bananas']

['0 apples', '2 oranges', '2 bananas']

In [44]:
#string.join(iter)
#Concatenates iterable elements separated by string . Example:
' marries ' .join(list([ 'Alice' , 'Bob' ]))
# Result: 'Alice marries Bob'

'Alice marries Bob'

In [46]:
#filter(func, iterable)
#Filters out elements in iterable for which function returns False (or 0). Example:
list(filter( lambda x: True if x >= 17 else False , [ 1 , 15 , 17 ,18 ])) # Result: [18]

[17, 18]

In [47]:
#string.strip()
#Removes leading and trailing whitespaces of string. Example:
print( " \n \t 42 \t " .strip()) # Result: 42

42

In [48]:
#sorted(iter, key=key)
#Sorts according to the key function in ascending order. Example:
sorted([ 8 , 3 , 2 , 42 , 5 ], key= lambda x: 0 if x== 42 else x)
# [42, 2, 3, 5, 8]
#help(func)

[42, 2, 3, 5, 8]

In [49]:
sorted([ 8, 3, 2, 42,5])

[2, 3, 5, 8, 42]

In [50]:
sorted([ 8, 3, 2, 0,5])

[0, 2, 3, 5, 8]

In [53]:
str ='Dhiraj'
str.upper() # Result: '... to uppercase.'

'DHIRAJ'

In [55]:
#zip(i1, i2, ...)
#Groups the i-th elements of iterators i1, i2, â€¦ together. Example:
list(zip([ 'Alice' , 'Anna' , 'Dhiraj'], [ 'Bob' , 'Jon' , 'Upadhyaya', 'Frank' ]))
# Result: [('Alice', 'Bob'), ('Anna', 'Jon')]

[('Alice', 'Bob'), ('Anna', 'Jon'), ('Dhiraj', 'Upadhyaya')]

In [60]:
#Unzip
#Equal to: 1) unpack the zipped list, 2) zip the result. Example:
list(zip(* [( 'Alice' , 'Bob' , 'Dhiraj'), ( 'Anna' , 'Jon' , 'Upadhyaya')]))
# Result: [('Alice', 'Anna'), ('Bob', 'Jon')]

[('Alice', 'Anna'), ('Bob', 'Jon'), ('Dhiraj', 'Upadhyaya')]

In [61]:
#enumerate(iter)
#Assigns a counter value to each element of the iterable. Example:
list(enumerate([ 'Alice' , 'Bob' , 'Jon' ]))
# Result: [(0, 'Alice'), (1, 'Bob'), (2, 'Jon')]

[(0, 'Alice'), (1, 'Bob'), (2, 'Jon')]